* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garantit que les marges et bordures sont incluses dans les dimensions */
}


body {
    background-color: #2c3e50;
    color: #ecf0f1;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #ecf0f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}

/* style spécifique pour la carte */
.map-container{
    display: grid;
    margin: 0 auto;
    width: 100%; /*Utilise toute la largeur de l'écran*/
    height: 100vh; /*Limite la carte à la hauteur de l'écran*/
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr));/*Ajuste les colonne en fonction de l'espace*/
    grid-auto-rows: 1fr;/*Assure que les lignes reste proportionnel*/
}

.map-container div{
    border: 0.2px solid rgba(255, 255, 255, 0.5);
    background-size: cover;
    aspect-ratio: 1; /*Garde les cellules carré*/
    transition: transform 0.2s ease, box-shadow 0.2s ease; /*Ajoute une animation*/
}

.map-container div:hover{
    outline: 2px solid #3498db;
    cursor: pointer; /*Change le curseur pour indiquer l'interaction*/
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /*Ajoute une ombre substile*/
}

@keyframes respire {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}


@keyframes glowing{
    0%{
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
    50%{
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
    100%{
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
}

.personnage-interactif{
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.personnage-interactif p{
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.personnage-interactif img{
    animation: respire 2s infinite ease-in-out;/*Respiration en boucle*/
    cursor:pointer;/*Change le curseur pour montrer que c'est interactif*/
    transition: transform 0.2s;
    background-color: transparent;/*Pas de fond*/
    border: none;/*Pas de bordure*/
    box-shadow: none;/*Pas d'ombre*/
}

.personnage-interactif img:hover{
    transform: scale(1.2);/*Aggrandit légérement en survol*/
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);/*Ajoute un effet lumineux*/
}

.personnage-interactif, .personnage-interactif img {
    outline: none; /* Supprime tout contour visible */
}


.personnage-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    gap:20px;
}